h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

p {
  text-align: center;
  line-height: 2rem;
  padding-top: 10px;
}

.title-header {
  font-size: 5rem;
  font-weight: 700;
  text-align: left;
  padding-top: 50px;
}

.white-section {
  background-color: white;
  color: black;
}

.colored-section {
  background-color: #6f4a8e;
  color: white;
}

.title-paragraph {
  text-align: left;
  font-size: 1.5rem;
}
.container-fluid {
  padding: 7% 15%;
}


.btn {
  background-color: #c3aed6;
  position: relative;
  margin-bottom: 25px;
  margin-top: 25px;
}


#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.navbar {
  padding-bottom: 4.5rem;
  padding: 0 0 4.5rem;
}

.nav-link {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar-nav li a:hover {
  color: #8675a9 !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.container-fluid-footer {
  text-align: center;
  background-color: #8675a9;
  padding-bottom: 20px;
}

.footer-text {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 12px;
  color: white;
}
