body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p {
  color: #000000;
  font-weight: 500;
  line-height: 2rem;
  font-size: 1.25rem;
}

/* profile image */
.img-profile {
  max-width: 100%;
}

/* grids */
.col {
  max-width: 100%;
}

.row {
  padding-top: 50px;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}

.container-chat {
  margin-left: 15%;
  padding-top: 7%;
  padding-bottom: 7%;
}

.container-about {
  padding-left: 0px;
  padding-right: 0px;
}

.container-fluid-footer {
  padding-top: 0.2%;
  padding-bottom: 2%;
}

#title .container-fluid {
  padding: 3% 15% 4%;
  text-align: left;
}

/* Sections */
.colored-section {
  background-color: #4183D7;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: #000;
}

/* Headings */
.display-4 {
  font-weight: 600;
  padding-top: 0;
  padding-bottom: 30px;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-weight: 500;
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif;
}

.navbar-item {
  padding: 0 18px;
  border-bottom: none;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white !important;
}

/* jumbotron */
.jumbotron {
  background: url(images/who.jpg) fixed center no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
}

.jumbo-paragraph {
  color: #ffff;
  background-color: #4183D7;
  font-weight: 400;
}

.lead {
  color: #ffff;
  background-color: #4183D7;
  font-weight: 500;
  margin-top: 20px;
  padding-bottom: 80px;
}

.my-4 {
  color: #ffff;
  font-weight: 400;
}

.mb-0 {
  color: #000000;
}

/* buttons */
.btn {
  margin: 5% 3% 5% 0;
  background-color: #ffff;
  color: black;
}

/* info cards */
span {
  font-size: 1rem;
}

.box {
  padding: 60px 0;
}

.box-part {
  background: #FFF;
  border-radius: 0;
  margin-left: 20%;
  margin-right: 20%;
  margin: 30px 0;
}

.text {
  margin: 20px 0;
}

/** Fontawesome icons **/
.fa {
  color: #4183D7;
  padding-bottom: 25px;
}

.fa-user-circle {
  color: #62a8ea;
}

.fa-linkedin {
  margin-top: 4%;
  marging-right: 1% padding-left: 1%;
  padding-right: 1%;
  color: #ffff;
}

.fa-instagram {
  margin-top: 4%;
  marging-right: 1% padding-left: 1%;
  padding-right: 1%;
  color: #ffff;
}

.fa-envelope {
  margin-top: 4%;
  marging-right: 1%;
  padding-left: 1%;
  padding-right: 1%;
  color: #ffff;
}

/* about */
.about-p {
  color: #ffff;
  text-align: center;
  padding-top: 75px;
}

.image-profile {
  border-style: solid;
  border-color: white;
}

/** Testimonial Section

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
} */
/* Footer Section */
.copyright {
  color: #ffff;
  font-size: 0.9rem;
  padding-top: 0;
}

/* css snippet simple chat box  */
.chat-box {
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: hidden
}

.chats {
  padding-top: 30px;
}

.chat-avatar {
  float: right
}

/* .chat-avatar .avatar {
  width: 30px -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}  */
.chat-body {
  display: block;
  margin: 10px 30px 0 0;
  overflow: hidden
}

.chat-body:first-child {
  margin-top: 0;
}

.chat-content {
  position: relative;
  display: block;
  float: right;
  padding: 8px 15px;
  margin: 0 20px 10px 0;
  clear: both;
  color: #fff;
  background-color: #62a8ea;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.chat-content:before {
  position: absolute;
  top: 10px;
  right: -10px;
  width: 0;
  height: 0;
  content: '';
  border: 5px solid transparent;
  border-left-color: #4183D7;
}

.chat-content>p:last-child {
  margin-bottom: 0
}

.chat-content+.chat-content:before {
  border-color: transparent
}

.chat-time {
  display: block;
  margin-top: 8px;
  color: rgba(255, 255, 255, .6)
}

.chat-left .chat-avatar {
  float: left
}

.chat-left .chat-body {
  margin-right: 0;
  margin-left: 30px;
}

.chat-left .chat-content {
  float: left;
  margin: 0 0 10px 20px;
  color: #76838f;
  background-color: #dfe9ef
}

.chat-left .chat-content:before {
  right: auto;
  left: -10px;
  border-right-color: #dfe9ef;
  border-left-color: transparent
}

.chat-left .chat-content+.chat-content:before {
  border-color: transparent
}

.chat-left .chat-time {
  color: #a3afb7
}

.avatar .avatar-online {
  width: 100px;
}

.avatar img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
  border-radius: 1000px;
}

.chat-avatar .avatar {
  width: 70px;
  height: 70px;
}

.avatar {
  position: relative;
  display: inline-block;
  width: auto;
  white-space: nowrap;
  border-radius: 1000px;
  vertical-align: bottom;
}

/* cookie consent  */
#cookieConsent {
  background-color: rgba(20, 20, 20, 0.8);
  min-height: 26px;
  font-size: 14px;
  color: #ccc;
  line-height: 26px;
  padding: 20px 0 20px 50px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9999;
}

#cookieConsent a {
  color: #4B8EE7;
  text-decoration: none;
}

#closeCookieConsent {
  float: right;
  display: inline-block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: -15px 0 0 0;
  font-weight: bold;
}

#closeCookieConsent:hover {
  color: #FFF;
}

#cookieConsent a.cookieConsentOK {
  background-color: #ffff;
  color: #000;
  display: inline-block;
  border-radius: 5px;
  padding: 20px 20px;
  cursor: pointer;
  float: right;
  margin: 0 60px 0 10px;
}

#cookieConsent a.cookieConsentOK:hover {
  background-color: #ffff;
}

/* to top arrow */
.scroll {
  color: #fff;
  margin-top: 100px;
}

#toTopBtn {
  position: fixed;
  bottom: 26px;
  right: 39px;
  z-index: 98;
  padding: 21px;
  background-color: black;
}

.js .cd-top--fade-out {
  opacity: .5
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
  background-color: black;
  background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}

.height {
  height: 3000px;
}

/***** testimonial cards **/
.legal {
  color: #ffff;
  font-size: 0.9rem;
  padding-top: 0;
  margin-right: 1rem;
}

.privacy {
  font-size: 1rem;
  text-align: left;
}


.imprint-info {
  font-size: 2rem;
  text-align: left;
}
